<h1>Transmanage Account Registration</h1>
<p>your username is "<%= @account.username%>"</p>
<p>your passwd is "<%= @account.password%>"</p>
<p>Login at <a href="http://www.freightoperations.com:8080">www.freightoperations.com:8080</a></p>
<p>Apollo</p>