
/***
* invoice-search results
*/
.invoice-search-result .x-grid3 h2 {    
    font-size: 14px;
    color: #333;    
}
.invoice-search-result fieldset {
    float: left;        
    padding-top: 2px;
}
.invoice-search-result fieldset legend {
    font-size: 14px;        
}
.invoice-search-result img.icon-arrow-right { float: left;margin:0 10px 0 10px}
.invoice-search-result .stats {
    font-size: 12px;    
    color: #666;    
    margin-bottom: 5px;
}